
/* Start Global Rules */
html{
    font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;

}
:root{
    --header-offset: 70px;
    --main-trans: all 0.5s ease;
    --main-txt-color: #c78e2c;
    --sec-txt-color:rgb(175, 173, 173);
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: var(--main-trans);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.bd{
    border: 1px solid rgb(238, 255, 0);
    col
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px)
{
    .container {width: 750px; }
}
  /* Medium */
@media (min-width: 992px)
{
    .container { width: 970px; }
}
  /* Large */
@media (min-width: 1200px) 
{
    .container {  
        width: 1170px;
        width: 90%;
    }
}

/* End Global Rules */





body{
    background-color: #202124;
    /* background-image: url(../img/BG/BG.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    background-color: #202124;
    background-color: #000016;
    background-color: #ffffff6c;
    /* display: none; */

    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 5px 0px 50px 5px #202124;
    z-index: 1;
}
nav .container{
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 2rem;
    margin: 1rem 20px;
}

nav input{
    /* all: unset; */
    width: 30%;
    height: 2rem;
    border: 1px solid var(--main-txt-color);
    border: 1px solid #0563aa4f;
    border-radius: 10px;
    margin: 1rem 20px;
    padding: 0.5rem;
    background-color: #20212400;
    color:  #043a64;
}

nav ul{
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
}
nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 5px solid rgba(127, 255, 212, 0);
    transition: var(--main-trans);

}
nav ul li a{
    margin: 0 0.75rem;
    color: #202124;
}
nav ul li:hover{
    background-color: #0563aa4f;
    border-bottom-color: #9d1d08;
}




.landing{
    margin-top: var(--header-offset);
    min-height: calc(100vh - var(--header-offset));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--sec-txt-color);
}

.iconQcdd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconQcdd img{
    width: 200px;
}

.iconQcdd div{
    height: 200px;
    width: 7px;
    background-color: var(--main-txt-color);
    margin: 0 30px;
}

.goToContents{
    color: var(--main-txt-color);
    margin-top: 100px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--main-trans);
    position: relative;
}




.goToContents p{
    position: relative;
    transition: var(--main-trans);
}



.goToContents p::before,.goToContents  p::after{
    content: '';
    width:0;
    height: 2px;
    background-color: var(--main-txt-color);
    position: absolute;
    bottom: 0;
    transition: var(--main-trans);
}
    

.goToContents p::after{
    right: 0;
}
.goToContents i{
    position: absolute;
    bottom: -20px;
    transition: var(--main-trans);
}



.goToContents:hover p::before{
    width: 50%;
}
.goToContents:hover p::after{
    width: 50%;
}
.goToContents:hover :last-child{
    bottom: -30px;
}




/*---------- */
/* contents */
/*---------- */

.contents{
    padding-top: calc(50px +  var(--header-offset));
    min-height: calc(100vh );
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    color: var(--sec-txt-color);
}

.contents .contant-table{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contents .container .part{
    min-width: 600px;
    padding-bottom: var(--header-offset);
}
.contents .container .part3{
    max-width: 600px;
    margin: auto;
    margin-top:  var(--header-offset);
}

.nth-child-1{
    border-top:1px solid var(--main-txt-color);
}

.contents h2{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contents h3{
    font-weight: 500;
    letter-spacing: 2px;
    border-bottom:  1px solid var(--main-txt-color);

}


.contents .container .sec{
    /* font-size: 1.5rem; */
    padding-bottom: 20px;
}

.contents .container div div p{
    padding: 10px 10px 5px;
    border-left:  1px solid var(--main-txt-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(175, 173, 173, 0.21);
    position: relative;
}

.nth-child-1,
.contents .container div div p
{
    /* border-radius: 15px; */
}

.contents .container div div span::before{
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
    transition: var(--main-trans);
}
.contents .container div div p:hover span::before {
    opacity: 1;
    width: 100%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.623);
} 


.contents .container .cont{
    color: var(--main-txt-color);
    transition: var(--main-trans);
    position: relative;
}
.contents .container div div p  span{
    color: var(--sec-txt-color);
} 


.mainIndex .container{
    justify-content: center;
    align-items: center;
}
.mainIndex h2{
    margin-bottom: 0;
}






/*---------- */
/* output */
/*---------- */

.output-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-navigation a{
    all: unset;
    color: var(--sec-txt-color);
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    border:  1px solid var(--main-txt-color);
    position: relative;
    transition: var(--main-trans);
}
.output-navigation span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.output-navigation span::before,
.output-navigation span::after{
    content: "";
    background-color: var(--main-txt-color);
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    opacity: .2;
    transition: var(--main-trans);
    z-index: -1;
}
.output-navigation span::before{
    left: 0;
}
.output-navigation span::after{
    right: 0;
}
.output-navigation a:hover span::after,
.output-navigation a:hover span::before,
.output-navigation a:hover {
    color: white;
    width: 50%;
}


.output iframe{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    border: none;
}
.output h3{
    font-weight: 500;
    color: var(--main-txt-color);
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-top: calc(20px + var(--header-offset));
    border-bottom:  1px solid var(--main-txt-color);

}





